<div class="p-5 bg-light rounded-3 meucss">
    <div class="container">
        
        <p class="display-5">
            <!-- LOGO -->
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="#" class="img-thumbnail">
            <!-- Portal Name -->
            Codename <b>Portal</b> 
        </p>

        <p>
            <!-- Text -->
            Welcome to the Codename Portal! Our portal features a curated list of recent and novel lead compound codenames,
            complete with associated targets, activities, diseases, and organizations. Our database is updated daily with new articles
            parsed by our pipeline. We have parsed more than 115k articles from a selection of six major journals and identified 17k 
            codenames classified as True Positive and False Positive.
        </p>

        <!-- Documentation -->
        <a href="#" target="_blank" class="btn btn-primary">
            Documentation
        </a>
    </div>
</div>