
<div class="p-5 bg-light rounded-3 meucss">
    <div class="container">
        
        <p class="display-5">
            <!-- LOGO -->
            <img src="{{ url_for('static', filename='img/trending_codename.png') }}" alt="#" class="img-thumbnail" width="300" height="300">
            <!-- Portal Name -->
            <b>Trending</b> Codename 
        </p>

        <p>
            <!-- Text -->
            Our Codename pipeline finds and validates internally stored <b>codenames</b>. 
            Now, we're using these <b>codenames</b> to identify the ones that are in high 
            demand in the market based on <u>news</u> and <u>web pages</u>. This is done 
            through our internal library, which utilizes the <b>Bing Search API</b> to gather 
            relevant information. With this approach, we can provide valuable <b><i>insights</i></b> 
            into the popularity and relevance of each <b>codename</b>. Our library searches, 
            collects, and analyzes data to assist in making informed <b><i>strategic decisions</i></b>.
             By uncovering the trending <b>codenames</b>, you can seize opportunities and stand out in the market.
            
        </p>

        <!-- button to return -->
        <a href = "{{ url_for('portal.index') }}" class="btn btn-outline-secondary">
            Back to Portal
        </a>
    </div>
</div>