<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.46">

    <title> Pipeline - {%block title%} {%endblock%}</title>

    {% include "pipeline/includes/imports.html" %}

</head>

<body>

    <div class="container">
        
        <!-- Initial Container -->
        {% include "pipeline/includes/welcome_pipeline.html" %}
        
        {% block index %}
        <!--INDEX.HTML-->
        {% endblock %}

    </div>

</body>

</html>